﻿<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a routerLink="/" class="navbar-brand">FusionBetFeed.Web</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="/">Home</a></li>
                <li *ngIf="isUserAuthorized"><a routerLink="/user/todo-items">TODO Items</a></li>
            </ul>

            <ul *ngIf="isUserAuthorized" class="nav navbar-nav navbar-right">
                <li *ngIf="userEmail">
                    <a>Hello, {{userEmail}}!</a>
                </li>
                <li>
                    <button (click)="logout()" class="btn btn-link navbar-btn navbar-link">Log out</button>
                </li>
            </ul>

            <ul *ngIf="!isUserAuthorized" class="nav navbar-nav navbar-right">
                <li><a routerLink="/account/register">Register</a></li>
                <li><a routerLink="/account/login">Log in</a></li>
            </ul>
        </div>
    </div>
</nav>
