﻿<p-dataList *ngIf="match" [value]="match.bets">
    <p-header>
        {{match.name}} {{match.startDate | date}}
    </p-header>
    <ng-template let-bet pTemplate="item">
        <div class="ui-g ui-fluid car-item">
            <div class="ui-g-12 ui-md-3" style="text-align:center">
                {{bet.name}}
            </div>
            <div class="ui-g-12 ui-md-9 car-details">
                <div class="ui-g" *ngFor="let odd of bet.odds">

                  
                        <div class="ui-g-6 ui-sm-6">{{odd.name}} </div>
                        <div class="ui-g-6 ui-sm-6"><button type="button" pButton styleClass="ui-button-secondary" style="margin-top:0" label="{{odd.value}}">  </button> 
                        <span *ngIf="odd.specialBetValue">{{odd.specialBetValue}}</span> </div>
                   


                </div>
            </div>
        </div>
    </ng-template>
</p-dataList>