﻿


<div class="row" *ngIf="seedInitiated">
    <div class="col-md-12">
      
        <div class="container">
            <div class="jumbotron">
                <h1>Initial seed of the whole feed</h1>
                <p>
                    <p-progressBar [value]="initialFeedProgress"></p-progressBar>
                </p>
            </div>
        </div>
       
    </div>
</div>
<br />


<div class="row" *ngIf="!seedInitiated">
    <div class="col-md-12">

        <p-dataView #dv *ngIf="nextDayMatches" [value]="nextDayMatches" filterBy="matchName" layout="grid">
            <p-header>

                <div class="ui-helper-clearfix">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-4">
                            <input type="search" class="form-control" pInputText placeholder="Search ny name" (keyup)="dv.filter($event.target.value)">
                           
                        </div>
                     
                    </div>
                </div>

            </p-header>

            <ng-template let-ins let-j="rowIndex" pTemplate="gridItem">
                <div style="padding:.5em" class="ui-g-12 ui-md-4">
                    <p-panel [header]="ins.matchName" [style]="{'text-align':'center'}">

                        <div>Start time: <strong>{{ins.startDate | date : 'dd-MM HH:mm'}} <p *ngIf="ins.isLive" class="live-match"></p></strong> </div>

                        <hr class="ui-widget-content" style="border-top:0">
                        <div class="ui-g">
                            <div class="ui-md-4">1</div>
                            <div class="ui-md-4">x</div>
                            <div class="ui-md-4">2</div>

                        </div>
                        <div class="ui-g">
                            <div class="ui-md-4"><button type="button" pButton styleClass="ui-button-secondary" style="margin-top:0" label="{{ins.homeWinValue}}"></button></div>
                            <div class="ui-md-4"><button type="button" pButton styleClass="ui-button-secondary" style="margin-top:0" label="{{ins.awayWinValue}}"></button></div>
                            <div class="ui-md-4"><button type="button" pButton styleClass="ui-button-secondary" style="margin-top:0" label="{{ins.drawWinValue}}"></button></div>

                        </div>
                        <hr class="ui-widget-content" style="border-top:0">

                        <div class="ui-g">

                            <a [routerLink]="['/bets/' + ins.matchId]">
                                <!--Log trainings <i class="fa fa-edit"></i>-->
                                <button type="button" pButton  styleClass="ui-button-secondary" style="margin-top:0" label="More bets"></button>

                            </a>


                        </div>
                    </p-panel>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>





